{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background: linear-gradient(to right, silver , white)    }
</style>
<body>
<div class="col-md-3"></div>
<div class="col-md-6">
    <h3 style="text-align:center; font-weight:bolder; color:#379683; ">Urls ordered By their Popularity Index</h3>
    <hr>
    {% for url in urls %}
    <div class="well" style="background-color:#202021; padding:10px;">
        <h4><span style="font-weight:bolder; color:#ffffff;font-family: 'Libre Baskerville';">Intial Url</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'statistics' url.short_id %}"><span style="font-weight:bolder;color:white;">:&nbsp;{{url.httpurl}}</span></a></h4>
            <h4><span style="font-weight:bolder; color:#ffffff;">Short Url</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'statistics' url.short_id %}"><span style="font-weight:bolder; color:white;">:&nbsp;http://r1d/{{url.short_id}}</span></a></h4>
        <h4><span style="font-weight:bolder; color:white;">Clicks on this Url</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bolder; color:white;">:&nbsp;{{url.count}}</span></h4>
        <h4><span style="font-weight:bolder; color:white;">Clicks On Other short urls</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bolder; color:white;">:&nbsp;{{total_clicks}}</span></h4>
        <h4><span style="font-weight:bolder; color:#ffffff;">Click Through Rate &nbsp;&nbsp;:&nbsp;{{url.index}}&nbsp;%</span></h4>
        
    </div>
    {% endfor %}

</div>
<div class="col-md-3"></div>
</body>
{% endblock %}