{% load bootstrap5 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Shortener- {{title}}</title>
    {% else %}
        <title> Shortner </title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %} 
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
</head>
<script type="text/javascript">
    $(function() {
    $('#submitButton').click(function() {
    event.preventDefault()
    console.log('ok')

    });
   });
   </script>
<body >
    {% include "navbar.html" %}
    {% block content %}
    
    {%endblock%}  
    <div style="text-align: center;">
        <nav class="navbar navbar-dark bg-dark" style="padding: 25px;color:white;">
            <p>Kipngetich Ngeno @2022</p>
        </nav>
    </div>
</body>
</html>