<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body style="background-color:#212529;">
  <div class="row">
    <div class="col-lg-1 col-md-2 col-sm-1"></div>
    <div class="col-lg-10 col-md-8 col-sm-10"></div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}" style="color:white;font-weight: bolder;font-family: 'Great Vibes', cursive; font-family: 'Berkshire Swash', cursive; font-size:25px;">Url Shortener</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" style="float:right;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
              <a class="nav-link" href="/" id="homeMenuId" >Home </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="" id="urlDetails" >Url Details</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-1"></div>
  </div>
</body>
</html>