<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<nav class="navbar navbar-inverse" style=" border: white; margin:5px;" >
  <div class="container-fluid" style="background-color:#001a00;">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}" style="color:white;font-weight: bolder;font-family: 'Great Vibes', cursive; font-family: 'Berkshire Swash', cursive; font-size:25px;">Url Shortener</a>
    </div>
    <div class="navbar-right">
      <h4><a  href="{% url 'all' %}"" style="margin:20px;color:white; font-weight:bolder;">View All</a></h4>
    </div>
      <div class="navbar-left ">
      </div>
  </div>
</nav>
</body>
</html>