{% extends 'base.html' %}
{% load bootstrap5 %}

<!-- block styles section -->
{% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Libre+Baskerville|Lobster" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- styles section -->
<style>
    body{
        background: linear-gradient(to right, silver , white)    
    }
    .active_class{
      font-weight: bold;
      color: white;
    }
</style>

<!-- page content section -->
<body >
    <div class="row body" style="background-color: #A4A8A8;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="text-align:center; margin-top:5%; margin-bottom:40px;">
                <p style="margin:10px; font-family: 'Libre Baskerville', serif; font-weight:bolder; font-size:27px; color:white;" >Url Details & Stats</p>
            </div>
        </div>
        <div class="col-md-3"></div>
    
    </div>
    <div class="row" style="padding-top:20px; height:70vh;">
        <div class="col-md-1"></div>
        <div class="col-md-5" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Shortcode</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" 
                value = "{{ url_details.shortcode }}" >
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Shortened Url</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                value = "{{ base_url }}/{{ url_details.shortcode }}">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Original Url</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                value = "{{ url_details.long_url }}">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">No of Clicks</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                value = "{{ url_stats.clicks_per_url }}">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">No. of clicks for all Urls</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                value = "{{ url_stats.total_clicks }}">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Share Percentage</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                value = "{{ url_stats.share_percentage }}">
            </div>

        </div>

        <div class="col-md-3">
            
        </div>

    </div>
    <div class="row" style="background-color:#d9d9d9"></div>

    <!-- script section -->
    <script>
        document.getElementById('urlDetails').style= "color:white;font-weight: bold;"
    </script>

</body>
{% endblock %}